.App {
  text-align: center;
}


.navbar {
  padding: 20px 50px;
  color: #999;
  margin-bottom: 0;
  border-bottom: 1px solid #111;
}


.action-bar {
  width: 100%;
  background: #999;
  position: relative;
}
.action-bar-fixed {
  position: fixed;
  top: -75px;
  z-index: 2;
  -webkit-transition: top 0.3s ease 0s;
          transition: top 0.3s ease 0s;
}
.action-bar-fixed-shown { top: 0; }
 
.action-bar .col {
  display: inline-block;
  padding: 20px;
}


.grid {
  list-style: none;
}

.grid-item {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.grid-item img {
  width: 200px;
}

.grid-item .select-box {
  position: absolute;
  bottom: -5px;
  left: 0;
  color: #eee;
  font-weight: normal;
  background: rgba(0,0,0,0.5);
  width: 100%;
  padding: 5px;
}

.grid-item .select-box span { margin-left: 5px; }



